
@{
    ViewData["Title"] = "تماس با ما";
}
<div class="container">
    <link href="~/css/Font.css" rel="stylesheet" />
    <h1 style="text-shadow: 2px 3px 2px darkred;font: bolder 40px Vazir;color: rgb(47, 101, 255);">تماس با ما</h1>
    <hr />
    <div class="row" style="font: bolder large/2.1 vazir;
                        text-shadow: 1px 1px 1px #dcdef6;
                        word-spacing: 0px;">
        <div class="col-md-3">
            <div class="card bg-light mb-3" style="max-width: 20rem;">
                <div class="card-header">راه های تماس با ما</div>
                <div class="card-body">
                    <h4 class="card-title">ارتباط با ما</h4>
                    <p class="card-text">موبایل:09021574683</p>
                    <p class="card-text" style="word-wrap: break-spaces;">ایمیل: hjiloomohamad@gmail.com</p>
                    <p class="card-text"> آیدی تلگرام: Al_mo1_2 </p>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="jumbotron">
                <h3 class="display-4" style="font-size: 3rem;
                                         font-weight: 100;
                                         word-spacing: 0px;
                                         margin-bottom: 50px;">
                    به حاجی مارکت خوش آمدید!
                </h3>
                <p class="lead"> فروشگاه اینترنتی حاجی مارکت سعی دارد تا در ارائه دادن خدمات اینترنتی فروشگاهی سبکی جدید ایفا کند</p>
                <hr class="my-4">
                <p>این محتوا درحال حاضر در حال توسعه است . به زودی میتوانید از این سایت استفاده کنید !منتظر ما باشید.</p>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="#" role="button">بیشتر بدانید</a>
                </p>
            </div>
        </div>
    </div>
</div>