
@{
    ViewData["Title"]="OnlinePayment";
}
<div class="container cart-main-area pt-85 pb-90">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">

            <h1 class="cart-page-title">خرید شما با موفقیت انجام و درخواست شما ثبت شد<i class="la la-check-circle"></i></h1>

            <h1> کد پیگیری : @ViewBag.code</h1>
            

        </div>
    </div>
</div>